.copy_right_footer{
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: grey;
    background-color: white;
    line-height: 3;
    font-size: 18px;
}

body{
    background-color: aqua;
    font-family: 'Special Elite', cursive;
}

.header_div{
    background: goldenrod;
    color: greenyellow;
}
.header_div p{
   color: grey;
   font-size: 12px;
   font-weight: bold;
   letter-spacing: 2px;
   font-family: 'Roboto', sans-serif;
}